@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  overflow-x: hidden !important;
}

h1 {
  font: bold 34px "Poppins", sans-serif !important;
}

p {
  font: 400 21px "Poppins", sans-serif !important;
  margin-bottom: 0;
}

span {
  font: 400 16px "Poppins", sans-serif !important;
}

.btn-outline-primary {
  color: #4064E5 !important;
  border-color: #4064E5 !important;
}

.btn-primary {
  background-color: #4064E5 !important;
}

* {
  font-family: 'Poppins', sans-serif;
}

.menu {
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 9999;
}

.box, .box::after, .box::before {
  width: 40px;
  height: 5px;
  background-color: #4064E5;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.box::after, .box::before {
  content: '';
  position: absolute;
}

.box::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.box::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu.open .box {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: transparent;
  position: fixed;
}

.menu.open .box::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu.open .box::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.form-control {
  font: 400 16px "Poppins", sans-serif !important;
}

.tutory::after {
  position: absolute;
  content: '';
  top: 0px;
  left: -13px;
  width: 37px;
  height: 37px;
  background-color: #4064E5;
  border-radius: 10px;
  z-index: -1;
}

.tutory {
  position: relative;
  z-index: 1;
}

.card {
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
}

.card:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
}

.text-gray {
  color: #a8a8a8 !important;
  font-weight: 200 !important;
}

.border {
  border: 1px solid #e5e5e5 !important;
}

.shadow-none:hover {
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.hero {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.testi {
  -webkit-transform: scale(0.6) !important;
          transform: scale(0.6) !important;
}

.modal-dialog {
  min-width: 1000px !important;
}

.card-info {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.gabung {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.gabung:hover {
  background-color: #4064E5 !important;
}

.img-tutor {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

@media (max-width: 992px) {
  .links {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(0% at 100vw 0);
            clip-path: circle(0% at 100vw 0);
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 5px 10px #888888;
            box-shadow: 5px 10px #888888;
    z-index: 9999;
  }
  .reveal.links {
    -webkit-clip-path: circle(100% at 100vw 0);
            clip-path: circle(100% at 100vw 0);
    position: fixed;
    z-index: 9999;
  }
}

.item-link {
  cursor: pointer !important;
}

.fadein {
  -webkit-animation: fadein .6s linear alternate forwards;
          animation: fadein .6s linear alternate forwards;
}

.bounce {
  -webkit-animation: bounce .3s linear alternate forwards;
          animation: bounce .3s linear alternate forwards;
}

.slideright {
  -webkit-animation: slideright  .6s  linear alternate forwards;
          animation: slideright  .6s  linear alternate forwards;
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes slideright {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideright {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */